  <!-- Modal Structure -->
  <div id="modal1" class="modal col s6">
    <a href="#" class="right modal-close "><i class="fas fa-times mr-2 mt-1"></i></a>
    <form action="/departments" method="POST">
      <div class="modal-content">
        <h4>Add Department</h4>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="departmentName" class="validate departmentName">
            <label for="departementName">Department Name</label>
          </div>
          <button class="btn waves-effect waves-light  light-blue darken-2 btn-block" type="submit">ADD DEPARTMENT</button>
        </div>
      </div>
    </form>
  </div>