<footer class="page-footer grey lighten-1">
{{#if user}}
    <div class="footer-copyright  light-blue darken-2">
        <div class="container grey-text text-darken-4">
            © 2018 Zenerp
            <a class="grey-text text-darken-4 right" href="#!">More Links</a>
        </div>
    </div>
{{else}}
    <div class="container">
        <div class="row">
            <div class="col l6 s12 grey-text text-darken-4">
                <h5 class="">Footer Content</h5>
                <p class="">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12 grey-text text-darken-4">
                <h5>General</h5>
                <ul>
                    <li><a class=" grey-text text-darken-4" href="/">Zenerp Home</a></li>
                    <li><a class=" grey-text text-darken-4" href="/about">About Zenerp</a></li>
                    <li><a class=" grey-text text-darken-4" href="/features">Features</a></li>
                    <li><a class=" grey-text text-darken-4" href="/subscriptions">Pricing</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright  light-blue darken-2">
        <div class="container grey-text text-darken-4">
            © 2018 Zenerp
            <a class="grey-text text-darken-4 right" href="#!">More Links</a>
        </div>
    </div>
{{/if}}

</footer>