

    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-wrapper">

                    <a href="/" class="brand-logo welcomeLogo">ZENERP</a>
                    <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-med-and-up"><i class="fas fa-bars"></i></a>

                <!--RIGHT NAV-->

                        <ul class="right hide-on-small-only welcomNav">
                            <li><a href="/features" class=" grey-text text-darken-3 welcomeNavLink">Features</a></li>
                            <li><a href="/subscriptions" class=" grey-text text-darken-3 welcomeNavLink">Subscriptions</a></li>
                            <li><a href="/auth/register" class="btn  grey-text text-darken-3 registerBtn">Sign Up</a></li>
                            <li><a href="/auth/login" class="waves-effect waves-light btn white grey-text text-darken-3 loginNavBtn">Login</a></li>
                        </ul>    

            </div>
        </div>
    </nav>    

