<div class="laptopContainer">
    <img src="./img/productimagelaptop.png" class="laptopImage" alt="">
</div>

    <div class="ctaContainer">
        <h3>Efficiency, Productivity, & Scalability</h3>
        <h4>Giving management the tools necessary to succeed</h4>
        <a href="/auth/register" class="btn grey-text text-darken-3 mt-2 registerBtn">Sign Up</a>
    </div>  
<div class="heroSection"></div>

<section>
    <div class="row" id="features" style="background-color: #fff">
          <span>
            <h3 class="center-align features_heading">Freemium Features</h3> 
          </span>
           
           
            <div class="card-container">
                <div class="col l4">
                    <div class="card  features_card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator featureCircle" src="./img/invoiceStatus.jpg">
                        </div>
                        <div class="card-content center-align">
                            <span class="card-title activator grey-text text-darken-4">Real-Time Invoice Status<i class="material-icons right">more_vert</i></span>
                        <p><a href="#" class=" light-blue-text text-darken-3">Learn More</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card  features_card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator featureCircle" src="./img/brandingCircle.jpg">
                        </div>
                        <div class="card-content center-align">
                            <span class="card-title activator grey-text text-darken-4">Custom Business Branding<i class="material-icons right">more_vert</i></span>
                        <p><a href="#" class=" light-blue-text text-darken-3">Learn More</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card features_card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator featureCircle" src="./img/paymentServicesCircle.jpg">
                        </div>
                        <div class="card-content center-align">
                            <span class="card-title activator grey-text text-darken-4">Payment Services Integration<i class="material-icons right">more_vert</i></span>
                        <p><a href="#" class=" light-blue-text text-darken-3">Learn More</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>    
            </div>   
    </div>    
</section>
<section class="invoice-perspective grey lighten-1">

        <div class="row">
           <h2 class="center-align">Premium Themes</h2>
            <div class="col l4">
                <img src="./img/invoicePerspective2.png" alt="" class="invPerspective ml-5">
            </div>
            <div class="col l4 invoice-perspective__subheading">
                <h4>Custom invoices done your way</h4>
                <h6 class="mt-1">Select from 10 different custom invoice themes</h6>
                <a href="/themes" class="btn  light-blue darken-2 mt-2">View Themes</a>
            </div>
            <div class="col l4">
                <img src="./img/invoicePerspective3.png" alt="" class="invPerspective ml-4">
            </div>
        </div>   

</section>
<section >
    <div class="row features grey">
            <div class="card-container">
                <div class="col l2 features_card">
                    <div class="card center-align">
                       <div class="card-content grey darken-1">
                            <span class="card-title">Silver</span>   
                       </div>

                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                    </div>
                </div>
                <div class="col l2 features_card">
                    <div class="card center-align">
                       <div class="card-content  light-blue darken-2">
                            <span class="card-title">Gold</span>   
                       </div>

                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                    </div>
                </div>
                <div class="col l2 features_card">
                    <div class="card center-align">
                       <div class="card-content grey darken-1">
                            <span class="card-title">Platinum</span>   
                       </div>

                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                        <div class="card-action priceTier-feature grey lighten-4">
                            <p>Features Go here</p>
                        </div>
                    </div>
                </div>    
            </div>   
    </div>    
</section>


