
{{#if user.isOwner}}
    <div class="row mt-4 mb-4">
        <div class="col s6 offset-s3">
            <div class="card grey lighten-4 hoverable">
                <div class="card-content">
                        <div class="alert-container">
                            {{> _msg}}  
                        </div>
                        <ul class="collection with-header">
                        <li class="collection-header"><span class="card-title">Business Departments</span><a href='#modal1' class="btn waves-effect waves-light  light-blue darken-2 modal-trigger right">ADD DEPARTMENT</a></li>
                        {{#each departments}}
                            <li class="collection-item">{{departmentName}} <a href="/departments/delete/{{_id}}"><i class="fas fa-trash-alt red-text text-darken-4 right"></i></a></li>
                        {{/each}}
                    </ul>   
                </div>
            </div>
        </div>
    </div>
{{> _departmentAddModal}}
{{/if}}